
.indexVC{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #ffffff;
    background:url("../images/homebj.jpg");
    background-repeat:no-repeat ;
    background-size:100% 100%;
    background-attachment: fixed;
}
#main{
    margin-top: 40px;
    opacity:0.8

}
.nav .level0-wrapper, .nav.classic ul.level0 {
    position: flex;
    top: 89px;
    /*margin-top: 128px;*/
}
.level0-wrapper-detail{
    color: #000;
}
header {height:40px}

.logo {
    position: absolute;
    left: 50%;
    margin:25px 0 0 -90px;
	z-index:100

}
.header-top {
	padding: 0px 0px 0px 0px;


}

.header-container {height:40px;background: #0C242D;position: relative;
    z-index: 10;}

.header-top .container {width:100%; padding:0px}

header .header-top-links {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 65px
}
/* Toplink */
.toplinks {
	line-height: normal;
	padding:0;
}
.toplinks .links {
	text-align: right;
}
.toplinks .links div {
	display: inline-block;

}
.toplinks div.links div a {
	color: black;
	display: inline-block;
	padding:13px 14px;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing:1px
}
.toplinks div.links div a:hover {
    background: #F5F3EF;
    color: #d04e2e;
}
.block-company {
	background: none;
	box-shadow: none;
	border: none;
	color: #aaaaaa;
	font-size: 14px;
}
.block-company .caret {
	margin-left: 5px;
}
.block-company-wrapper {
	display: inline-block !important;
}
.block-company label {
	font-weight: normal;
	padding: 5px 5px 2px 0px;
}
.block-company-wrapper .dropdown-menu {
	min-width: 0;
	box-shadow: 0 3px 3px 0 #888888;
	top: 22px;
}
.block-company-wrapper .dropdown-menu li {
	padding: 5px 15px 5px 0;
}
.block-company-wrapper .dropdown-menu li:hover {
	background-color: #fff;
	color: #000;
	transition: background-color 0.2s ease-in-out;
}
.block-company-wrapper .dropdown-menu a {
	padding: 3px 10px 3px 10px;
	color: #333!important;
	font-weight: normal!important;
	text-transform: none!important;
}
.block-company-wrapper .dropdown-menu a:hover {
	color: #000;
	background: none;
}
/* top search*/
.top-search {
	float: right;
	display: inline-block;
	margin-right: 0px;
}
.top-search a {
	color: #fff;
	cursor: pointer;
	background: none;
	padding:11px 18px;
	display:block
}
.top-search a:hover {
	background: #F5F3EF;
	color: #d04e2e;
}
.fa.fa-search:before {
	font-size: 16px
}
.cart-top .dropdown-menu {
	padding: 10px;
	min-height: 100px;
	height: auto !important;
	min-width: 445px;
	-webkit-transition: all 300ms ease-in-out 0s;
	-o-transition: all 300ms ease-in-out 0s;
	transition: all 300ms ease-in-out 0s;
	top: 0;
	position: fixed;
	z-index: 999;
	display: block;
	-webkit-transform: translate3d(100%, 0, 0);
	-moz-transform: translate3d(100%, 0, 0);
	-ms-transform: translate3d(100%, 0, 0);
	-o-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	-webkit-transition: all .4s cubic-bezier(.25, .46, .45, .94) 0s;
	-o-transition: all .4s cubic-bezier(.25, .46, .45, .94) 0s;
	transition: all .4s cubic-bezier(.25, .46, .45, .94) 0s
}
#search {
	padding-top: 12px
}
#search .input-group {
	border:none;
	display: inline-block;
	width: 100%;
	background: #fff
}
#search input {
	height: 45px;
	display: inline-block;
	width: 90%;
	border: none;
	background: #fff;
	box-shadow: none;
	margin: 0px;
}
#search button {
	line-height: 24px;
	padding: 12px 18px 10px;
	float: right;
	display: inline-block;
	background: #0C242D;
	border: none;
	color: #fff;
}
#search button:hover {
	background: #0C242D;
	border: none;
	color: #fff
}
.top-search .modal-dialog {
	margin-top: 350px;
}
.top-search .fade.in {
	background: none repeat scroll 0 0 rgba(0,0,0,0.5);
	opacity: 1
}
.top-search .modal-content {
	border-radius: 0px;
    background: #22211D;
}
.top-search .modal-header {
	border: none;
}
.top-search .modal-body {
	padding:0px 20px 30px;
}
#search button i {
	font-size: 12px
}
.top-search .modal-lg {
	width: 680px
}
.modal-header {
	text-align: left
}
.modal-open {
	padding: 0px !important
}
.top-search .modal-header {
    padding: 0px;
}
.top-search .modal-header .close {
	opacity: 1;
	margin-top: -23px;
	margin-right: -23px;
}
.top-search .modal-header .close span {
	color: #fff;
	font-size: 22px;
	padding: 0 4px;
	text-shadow: none;
	line-height: 20px;
}
.welcome-msg {
	text-align: left;
	display: inline-block;
	padding: 0px;
	margin: 0px 14px;
	font-size: 11px;
	color: #0C242D;
	vertical-align: top;
	margin-top: 12px;
	text-transform:uppercase;
	letter-spacing:1px
}
/* language &amp; currency */
.header-container .curr-language {
	margin-top: 10px;
}
.block-language-wrapper {
	display: inline-block;
	font-weight:bold;
	text-transform:uppercase;
	font-size:11px;
	letter-spacing:1px;
	vertical-align:top
}
.block-language {
	background: none;
	box-shadow: none;
	border: none;
	color: #fff;
	padding: 12px 14px;
	display:block
}
a.block-language:hover {
	    background: #F5F3EF;
    color: #d04e2e;
}
a.block-language:focus {
	background: #F5F3EF;
    color: #d04e2e;
}
.block-language img {
	font-weight: normal;
	padding: 0px 5px 0px 0px;
	margin: auto;
}
.block-language-wrapper .dropdown-menu>li {
	padding: 4px 0px 4px 0px;
}
.block-language-wrapper .dropdown-menu>li:last-child {
	border-bottom: none;
}
.block-language-wrapper .dropdown-menu > li > a img {
	margin: 0px 6px 0px 0px;
}
.block-language-wrapper .dropdown-menu {
	border-radius: 0px;
	min-width: 0px;
	top: 36px;
	padding: 0px;
	background:#F5F3EF;
	min-width: 124px;
}
.block-language-wrapper .dropdown-menu a {
	padding: 3px 10px 3px 10px;
	color:#333;
	font-family: 'Open Sans', sans-serif;
	text-transform:none;
	letter-spacing:normal
}
.block-language-wrapper .dropdown-menu a:hover {
	color: #333;
	background: none;
}



.block-currency-wrapper {
	display: inline-block;
	vertical-align:top

}
.block-currency {
	background: none;
	box-shadow: none;
	border: none;
	color: #fff;
	font-weight:bold;
	padding:12px 14px;
	display:block;
	letter-spacing:1px;
	font-size:11px

}
a.block-currency:hover {
  background: #F5F3EF;
    color: #d04e2e;
}
a.block-currency:focus {
	background: #F5F3EF;
    color: #d04e2e;
}
.block-currency label {
	font-weight: normal;
	padding: 0 5px;
	margin: auto;
}
.block-currency-wrapper .dropdown-menu>li {
	padding: 4px 0;
}
.block-currency-wrapper .dropdown-menu>li:last-child {
	border-bottom: none;
}
.block-currency-wrapper .dropdown-menu > li > a img {
	margin: 0 6px 0 0;
}
.block-currency-wrapper .dropdown-menu {
	border-radius: 0;
	min-width: 0;
	z-index: 100000;
	top: 36px;
	padding: 0px;
	background:#F5F3EF
}
.block-currency-wrapper .dropdown-menu a {
	padding: 3px 15px 3px 10px;
	font-family: 'Open Sans', sans-serif;
	text-transform:none;
	letter-spacing:normal
}
.block-currency-wrapper .dropdown-menu a:hover {
	color: #333;
	background: none;
}
.lang-curr {
	float: right;
	margin: 11px 0px;
}
.form-language {
	display: inline;
	float: right;
	border-left: 1px solid #ececec;
	line-height: 17px;
	padding-left: 20px;
}
ul.lang {
	text-align: left;
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	padding: 0px;
}
ul.lang li {
	float: left;
	display: inline;
	margin: 0px 8px 0 0px
}
ul.lang li:last-child {
	margin-right: 0px
}
ul.lang li span {
	text-indent: -10000px;
	display: none
}
.form-currency {
	display: inline;
	margin-right: 12px;
	float: right;
	line-height: 17px
}
ul.currencies_list {
	float: left;
	display: inline;
	margin: 0px 8px 0 0px;
	padding: 0px;
}
ul.currencies_list li {
	float: left;
	display: inline;
	margin: 0 0px 0 10px
}
ul.currencies_list li a {
	color: #333;
	font-size: 14px;
	font-weight: bold;
}
ul.currencies_list li a:hover {
	color: #0C242D;
	text-decoration: none;
}
/* End language &amp; currency*/

/* Top Shopping Cart */
.mini-products-list .product-image {
	float: left;
	padding: 0;
	width: 64px;

}
.mini-products-list .product-image img {
	width: 60px;
}
.top-cart-content .product-name {
	margin: 0;
	line-height: 1;
	margin-top: 3px
}
.top-cart-content .product-name a {
	font-size: 13px;
	line-height: normal;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
}
.top-cart-content .product-name a:hover {
	font-size: 13px;
	color: #000;

}
.top-cart-contain .price {
	color: #0C242D;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 0px;
	font-size: 12px;
	display: inline-block;
}
.top-cart-contain .product-details .price {
	color: #333;
	width: auto;
	float: none;
	font-weight: bold;
	padding-left: 0px
}
.mini-cart {
	text-align: center;
	cursor: pointer;
	margin: 0px;
}
.mini-cart .basket a {
	color: #fff;
	margin: 0px;
	line-height:normal;
	font-size: 11px;
	letter-spacing: 1px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 13px 18px;
	display: block;
	background:#0C242D;
	margin-left:0px
}
.mini-cart .basket a span.cart_count {
	display: inline-block;
	color: #fff;
	text-align: center;
	margin-left: 5px;

}
.mini-cart .basket a span.price:before {
	content: "/";
	margin-right: 3px;
}
.top-cart-content .pull-right {
	margin-right: 10px;
	padding-top: 3px
}
.top-cart-content .basket a {
	border: none;
	color: #fff
}
.mini-cart .basket a:hover {
	text-decoration: none;
}
.mini-cart .open .basket a {
	color: #000;
	background: #fff;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3)
}
.mini-cart .dropdown-toggle {
	font-size: 14px;
	padding: 0px;
	text-transform: none;
}
.top-cart-contain {
	position: relative;

}
.top-cart-title p {
	margin: 0;
}
.top-cart-content .empty {
	padding: 10px;
	color: #333333;
}
.top-cart-content {
	display: none;
	position: absolute;
	top: 37px;
	right: 0px;
	background: #fff;
	padding: 0;
	text-align: right;
	z-index: 100;
	border: 1px #ececec solid;
	border-bottom: 3px #ececec solid
}
.top-subtotal {
	color: #fff;
	float: left;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 10px;
	text-align: left;
}
.top-cart-content .product-details .btn-remove {
	position: absolute;
	right: 10px;
	top: 4px;
}
.top-cart-content .block-subtitle {
	border-bottom: 1px solid #DDDEE1;
	color: #fff;
	overflow: hidden;
	padding: 0px 5px;
	text-align: left;
	background: #0C242D
}
.top-cart-content .block-subtitle .price {
	color: #fdd21b
}
ul#cart-sidebar {
	padding: 15px 25px 0px;
}
/* top cart  */
.top-cart-content li.item {
	width: 290px;
	margin: 8px 0px 15px;
	border-bottom: 1px #eee solid;
	display: inline-block;
	padding-bottom: 15px;
}
.top-cart-content li.item.last {
	margin: 0;
	border-bottom: 0px #eee solid;
	padding-bottom: 10px
}
.top-cart-content .product-details {
	color: #333333;
	position: relative;
	text-align: left;
}
.mini-products-list .product-details {
	margin-left: 80px;
	padding: 0;
}
.top-cart-content .product-details .btn-remove {
	position: absolute;
	right: 10px;
	top: 12px;
}
.top-cart-content .product-details .btn-edit {
	position: absolute;
	right: 30px;
	top: -2px;
	color:#333!important;

}
.top-cart-content .product-details .btn-edit:hover {
	color: #339bold;
}
.top-cart-content .actions {
	padding: 25px;
	margin: 0px 0 0;
	overflow: hidden;
	padding-bottom: 0px;
	margin-bottom:0px;
}
.button.btn-checkout {
	background: #FED557;
	border: 1px solid #F5C328;
	color: #003169;
	padding: 8px 18px;
}
.button.btn-checkout:hover {
	background: #FED557
}
.button:btn-bag:hover {
background:#f6f6f6
}
.btn-remove1 {
	background-image: url(../images/btn_remove.png);
	margin: 0px 0 0 5px;
}
.btn-remove1:hover, .btn-remove1:focus {
	background-position: 0 -12px;
}
.btn-remove1 {
	display: block;
	width: 15px;
	height: 13px;
	font-size: 0;
	line-height: 0;
	background-position: 0 0;
	background-repeat: no-repeat;
	text-indent: -999em;
	overflow: hidden;
	position: absolute;
	left: 28px;
	margin-top: 5px;
}
.block-compare .btn-remove1 {
	left: auto;
	right: 0px!important;
	margin-top: 0px;
	top: 5px
}
.mini-cart .btn-remove1 {
	left: auto;
	right: 0px!important;
	margin-top: 0px;
	top: 0px;
}
.mini-cart .actions .btn-checkout {
	background: #d04e2e;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: normal;
	padding: 6px 0px;
	border: none;
	cursor: pointer;
	display: inline-block;
	transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
	float: left;
	border-radius: 2px 0px 0px 2px;
	letter-spacing: 0.5px;
	width: 140px
}
.mini-cart .actions .btn-checkout:hover {
	background: #202726;
	color: #fff;
}
.mini-cart .actions .btn-checkout:before {
	content: "\f00c";
	font-family: FontAwesome;
	font-size: 16px;
	padding-right: 10px;
}
.mini-cart .view-cart {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	cursor: pointer;
	float: none;
	font-size: 13px;
	font-weight: normal;
	padding: 6px 0px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	background: #eee;
	color: #666;
	border-radius: 0px 2px 2px 0px;
	letter-spacing: 0.5px;
	width: 140px
}
.mini-cart .view-cart:before {
	content: '\f07a';
	font-family: FontAwesome;
	font-size: 16px;
	padding-right: 7px;
}
/*----------- 4. Navigation -------------*/

nav {
	width: 100%;
	height: 128px;
}

.inner-page nav {background:url('../images/slide-img1.jpg') repeat top left ;
	height: 170px;
}

.menu-item {
    display: block;
    float: left;
    width: 100%;
}

.menu-item-left {
    padding-right: 20px;
    text-align: center;
    margin-left: 0;
    margin-top: 41px;
    width: 100%;
}

.menu-item-left li {
    /*margin-right: 50px;*/
}

.menu-item-right {
    padding-left: 10px;
	text-align: right;
}

.menu-item-right li {
    margin-left: 50px;
}

.nav-home p {
	float: left;
}
.nav-inner {
	position: relative;
}
.nav > li > a.active:nth-child(1) {
	color: #fff;
	background: #0C242D;
	border-radius: 3px 3px 0px 0px;
	margin-right: 0px
}
.nav > li > a:hover.active:nth-child(1) {
	color: #fff;
}
.nav > li > a:first-child {
	margin-left: 0px;
}
.nav > li > a:last-child a {
	color: #333
}

.cms-index-index .nav .nav-home > a, .nav > li.active > a, .vertnav-top li.current > a {
	color: #fff;
}
.nav > li.active > a, .vertnav-top li.current > a:hover {
	color: #fff;

}
/*导航字属性*/
.index .nav > li > a {
    color:#fff;
    -webkit-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
    margin-top: 20px;
}
/*导航字属性*/
.index .nav-detail > li > a {
    color:#000;
    -webkit-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
    margin-top: 20px;
}

.index .nav,.nav-detail > li > a:after {
    /*height: 2px;*/
    /*font-size: 0;*/
    /*line-height: 0;*/
    /*background:rgba(7,33,58,1);*/
    /*position: absolute;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*right: 0;*/
    /*top: 100%;*/
    /*content: " ";*/
    /*opacity: 0;*/

}
.index .nav,.nav-detail > li > a:hover:after {
    opacity: 1;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);

}

.nav > li.active > a:after {
	height:0;
    font-size: 0;
    line-height: 0;
    background: #0C242D;
    position: absolute;
    left: 0;
    width: 100%;
    right: 0;
    top: 100%;
    content: " ";
    opacity: 1;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
   -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
	    margin-top: 2px;
}




.nav {
	position: relative;
	z-index: 10;
	-webkit-transform: translateZ(0);
}
/* All levels */
.nav li {
	text-align: center;
}
.nav li a {
	display: block;
	text-decoration: none;
}
/* 1st level only */
.nav > li {
	list-style: none;
	border-bottom: none;
	display: inline-block;
}
.nav > li.last {
	padding-right: 0;
}
.nav > li > a > span {
	display: inline-block;
	padding:0px;
}
li.active > a {
	position: relative;
}
.nav > li > a:hover > span {
}
/* Drop-down boxes:
wide:    2nd-level category drop-down box + custom block drop-down box
classic: custom block drop-down box */
.nav .level0-wrapper {
	position: absolute;
	left: -10000px;
	background-color: #fff;
}
/* Inner wrapper for additional padding */
.nav .level0-wrapper2 {
	padding: 0;
}
.nav .level0-wrapper2:before, .nav .level0-wrapper2:after {
	display: table;
	line-height: 0;
	content: "";
}
.nav .level0-wrapper2:after {
	clear: both;
}
/* Home link*/

.nav a.level-top.feature {
	margin: 0;
}
/* Icon inside item */
.nav li a.level-top .icon {
	padding: 3px;
	margin: 0;
	float: none;
	display: inline-block;
	vertical-align: middle;
	background-color: transparent !important;
}
.nav li:hover a.level-top .icon {
	padding: 3px;
}

/* 1st level */
li.level0 > a > span {
	position: relative;
}
li.level0 > a > span > .cat-label {
	position: absolute;
	top: -12px;
	right: 0;
	padding: 0 6px;
	font-size: 14px;
	line-height: 22px;
}
/* Add pin (only 1st level) */
li.level0 > a > span > .pin-bottom:before {
	position: absolute;
	right: 6px;
	top: 22px;
	width: 0;
	height: 0;
	content: "";
	border-style: solid;
	border-width: 4px;
	border-color: transparent;
	transition: border-color 450ms ease-in-out;
	-moz-transition: border-color 450ms ease-in-out;
	-webkit-transition: border-color 450ms ease-in-out;
	-o-transition: border-color 450ms ease-in-out;
}
li.level0 > a:hover > span > .pin-bottom:before {
	transition-duration: 100ms;
	-moz-transition-duration: 100ms;
	-webkit-transition-duration: 100ms;
	-o-transition-duration: 100ms;
}
/* 2nd level */
li.level1 > a > span > .cat-label {
	display: inline-block !important;
	padding: 0 4px;
	margin-left: 2px;
	vertical-align: middle;
}
/* 3rd level */
li.level2 > a > span > .cat-label {
	display: inline-block !important;
	padding: 0 4px;
	margin-left: 2px;
}
/* Category labels inside mobile menu / vertical menu */
ul.vertnav li > a > span > .cat-label {
	position: static;
	display: inline-block !important;
	padding: 0 4px;
	margin-left: 2px;
}
/* Hide pin */
ul.vertnav li > a > span > .pin-bottom:before {
	display: none;
}
/* Label size: all levels */
ul.vertnav li > a > span > .cat-label {
	font-size: inherit;
	line-height: inherit;
}
ul.vertnav-top li > a > span > .cat-label {
	font-size: 14px;
	line-height: 18px;
}
/* Category blocks */
.nav-block {
	margin-top: 0;
	margin-bottom: 1%;
}
.nav-block-top {
}
.nav-block-bottom {
	float: left
}
.nav-block-center {
	margin-top: 0px;
}
.nav-block-right {
	margin-top: 0px;
	float: right;
	padding: 0px;
	text-align: center;
}
.nav-block-level1-top {
	margin-bottom: 10px;
}
.nav-block-level1-bottom {
	margin-top: 10px;
}
.nav-block .section-line {
	border-color: #eee;
}
/* horizontal + mobile menu trigger */
/*导航字体大小*/
.nav > li > a {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
	color: #000;
	letter-spacing: 2px
}
ul.level0 {
	padding: 0
}
ul.level1 {
	padding: 0px;
}
.nav .level0-wrapper, .nav.classic ul {
	background-color: #ffffff;
	color: #333333;
}
.nav ul li a:hover {
	color: #0C242D;
}
.cat-label-label1 {
	background-color: #D12631;
	color: #ffffff;
}
.cat-label-label2 {
	background-color: #d52462;
	color: #ffffff;
}
/*下拉框属性*/
.nav .level0-wrapper, .nav.classic .parent > ul {
	/*background: #fff;*/
	/*border-top: none;*/
	/*box-shadow: 0 10px 20px -5px;*/
	/*width: auto;*/
	/*padding: 40px 0px 0px 0px;*/
	/*text-align: left;*/
	/*z-index:100*/
}
.menu-item-right .level0-wrapper{ margin-left:-615px}







.nav > li > a {
	/*color: #fff;*/
	/*padding:15px 0px*/

    width:100%;
    height:17px;
    font-size:calc(16/1920*100%);
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:calc(4/1920*100%);
}
.nav > li.mega-menu {
	position: static;
    height:100%;
}
.nav-inner .nav li.mega-menu .level0-wrapper {
	border: 0 none;
	padding: 15px 0px;
	z-index: 10000;
	border-bottom: 6px #0C242D solid;
	transform: scale(0) rotate(0deg);
	transition: all 0.4s ease-in-out 0s;
	opacity: 0;
	visibility: hidden;
	display: block!important;
	margin-left: -210px;
	padding-top: 20px
}
.nav-inner .nav li.mega-menu:hover .level0-wrapper {
	opacity: 1;
	visibility: visible;
	transition: all 0.4s ease-in-out 0s;
	-webkit-transform: scale(1.0) rotate(0deg);
	transform: scale(1.0) rotate(0deg);
}
.nav .level0-wrapper2 .col-1 {
	float: left;
	width: 68.5%;
}
.nav .level0-wrapper2 .col-2 {
	padding: 0;
	float: left;
	width: 30%;
}
.nav .level0-wrapper2 .col-3 {
	padding: 5px 0;
	float: left;
	width: 20%;
}
.nav .col-1 ul.level0 > li {
	width: 30%;
}
.col-2 img:hover {
	opacity: 0.5;
}
.col-2 .menu_image {
	display: block;
	margin-top:0px
}
.col-2 .menu_image1 {
	display: block;
	margin-top: 25px;
}
/* 1st level only */
.nav > li:hover > a {
	position: relative;
	z-index: 1;
	background:none
}

.nav>li>a:hover, .nav>li>a:focus {background:none}

.nav > li:hover > a.level-top:after {
	height: 4px;
    font-size: 0;
    line-height: 0;
    background:rgba(7,33,58,1);
    position: absolute;
    left: 14px;
    width: 30px;
    right: 0;
    top: 32px;
    content: " ";
    opacity: 1;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
   -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
}
.nav > li:hover > a.xxzlevel-top1:after {
    height: 4px;
    font-size: 0;
    line-height: 0;
    background:#fff;
    position: absolute;
    left: 30px;
    width: 30px;
    right: 0;
    top: 32px;
    content: " ";
    opacity: 1;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
}
.nav > li:hover > a.xxzlevel-top2:after {
    height: 4px;
    font-size: 0;
    line-height: 0;
    background:#fff;
    position: absolute;
    left: 14px;
    width: 30px;
    right: 0;
    top: 32px;
    content: " ";
    opacity: 1;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
}
/* 2nd level only */
.nav ul.level0 > li {
	display: inline-block;
	float: none;
	margin-right: 15px;
	padding-top: 0;
	vertical-align: top;
	width: 15%;
	padding-left: 25px;
	margin-bottom: 20px;
	margin-left:0px
}
.nav ul.level0 > li.last {
	display: inline-block;
	float: none;
	vertical-align: top;
	padding-top: 0;
	padding-bottom: 15px;
	margin-right: 0px
}
.nav ul.level0 > li > a {
	color: #0C242D;
	font-size: 16px;
	font-weight: normal;
	line-height: 18px;
	padding: 5px 0px 6px;
	text-transform: uppercase;
	letter-spacing: 1px;
     text-align: left;
}
/* 2nd level+ */
.nav ul li {
	list-style: none;
	padding: 4px 0;
}
.nav li ul li ul li { margin-left:0px
    ;text-align: left;
}
.nav li ul li ul li:last-child {
	border: none
}
/* 3rd level only */
.nav ul.level1 {
	position: static;
}
.nav ul.level1 > li a {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	font-size: 13px;
	letter-spacing: normal;
}
.nav ul.level1 > li a:hover {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	color: #fff
}
/* 4th level */
.nav ul.level2 {
	margin: 7px 0;
	padding: 0;
	position: static;
}
.nav ul.level2 a {
	font-size: 0.9166em;
	line-height: 1.2727em;
	opacity: 0.6;
}
.nav li.level2:hover ul.level2 a {
	opacity: 1;
	transition: opacity 150ms ease-out;
	-moz-transition: opacity 150ms ease-out;
	-webkit-transition: opacity 150ms ease-out;
	-o-transition: opacity 150ms ease-out;
}
/* 4rd level+ */
.nav ul ul ul li {
	background: none;
	padding-left: 0;
}
/* Vertical nav-links */

.nav-links > li, .nav-links > li > a {
	line-height: 3em;
}
.nav-links > li > a {
	padding: 0 0.5833em;
}
.nav-links > li.label {
	padding-right: 0.5833em;
}
/* Basic nav-links, no separators */
.nav-links > li {
	float: left;
}
.nav-links > li > a {
	display: block;
}
.grid12-5 {
	display: inline;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	width: 23%;
}
.grid12-3 {
	display: inline;
	float: left;
	margin-left: 1.5%;
	margin-right: 1.5%;
	width: 22%;
	text-align: center
}
.grid12-3 .item-title a {
	text-transform: uppercase;
	margin-top: 10px;
	color: #aaa
}
.custom-menu .grid12-4 {
	display: inline!important;
	float: left!important;
	margin: 5px 0 0!important;
	width: 33%!important;
	padding-left: 25px!important;
	padding-right: 10px!important
}
.grid12-4 img {
	margin-bottom: 15px
}
.grid12-4 {
	display: inline;
	float: left;
	margin: 0;
	width: 35%;
}
.custom-menu .grid12-4 img {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 0!important
}
.grid12-8 {
	display: inline;
	float: left;
	margin-left: 0;
	width: 64%;
}
.nav .grid12-8 ul.level0 > li {
	width: 22.5%;
}
.grid13-8 {
	display: inline;
	float: left;
	margin-left: 0;
	margin-right: 1%;
	margin-bottom: 0;
	width: 80.90%;
}
.nav .level0-wrapper .nav-add {
	padding: 20px;
	background: #f8f8f8;
	overflow: hidden
}
.nav .level0-wrapper .nav-add .push_item {
	float: left;
	margin-right: 18px;
	width: 24%;
}
.nav .level0-wrapper .nav-add .push_item img {
	width: 98%;
}
.nav .level0-wrapper .nav-add .push_item_last {
	float: left;
	margin-right: 0px;
	width: 23%;
}
.nav .level0-wrapper .nav-add .push_item .push_img a {
	display: block;
	width: 275px;
}
.nav .level0-wrapper .nav-add .push_item .push_text {
	color: #666;
	font-size: 12px;
	padding: 8px 0;
}
.custom-menu {
	background: #fff!important;
	color: #999
}
.icon-star:before {
	content: "\f0a3";
}
.heart-icon:before {
	content: "\f06b";
	font-family: FontAwesome;
}
.heart-icon {
	font-family: FontAwesome;
	display: inline-block !important;
	font-size: 28px;
	color: #0C242D;
	height: 60px;
	width: 60px;
	line-height: 60px!important;
	text-align: center;
	border: 1px #eee solid;
	border-radius: 50px;
	text-align: center;
	padding-left: 6px;
}
.custom-icon:before {
	content: "\f0e9";
}
.custom-icon {
	font-family: FontAwesome;
	display: inline-block !important;
	font-size: 28px;
	color: #0C242D;
	height: 60px;
	width: 60px;
	line-height: 60px!important;
	text-align: center;
	border: 1px #eee solid;
	border-radius: 50px;
	text-align: center
}
.icon-custom-grid:before {
	content: "\f00a";
}
.icon-custom-grid {
	font-family: FontAwesome;
	display: inline-block !important;
	font-size: 28px;
	color: #0C242D;
	height: 60px;
	width: 60px;
	line-height: 60px!important;
	text-align: center;
	border: 1px #eee solid;
	border-radius: 50px;
	text-align: center
}
.nav .nav-custom-link .header-nav-dropdown-wrapper h4.heading {
	color: #000;
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 10px;
}
.nav .nav-custom-link .header-nav-dropdown-wrapper h4.heading {
	color: #000;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
	letter-spacing: 0.5px;
}
.nav li.drop-menu ul {
	position: absolute;
	top: 45px;
	left: 0;
	background: #22211D;
	padding: 6px 0;
	border-top: none;
	box-shadow: 0 10px 20px -5px;
	width: 180px;
	text-align: left;
	z-index: 1000;
}
.nav > li.drop-menu ul li ul {
	border-top: none;
}
.nav > li.drop-menu {
	position: relative;
}
.nav > li.drop-menu a {
}
.nav li.drop-menu ul li {
	position: relative;
	margin-right:0px;

}
.nav li.drop-menu ul li a {
	color: #0C242D;
	line-height: 30px;
	font-size: 13px;
	padding: 0 12px;
	display: block;
	transition: all 200ms ease-in-out;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;

}
.nav li.drop-menu ul li:hover > a {
	color: #fff;
	padding-left: 18px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.nav li.drop-menu ul li span.plus {
	display: block;
	position: absolute;
	right: 7px;
	top: 50%;
	margin-top: -1px;
	height: 1px;
	width: 7px;
	background: #535353;
}
.nav li.drop-menu ul {
	display: none;
}
.sticky-header {
	position: fixed;
	margin-top: 0px;
	z-index: 1000;
	display: block;
	top: 0px;
	height: 60px;
	background: rgba(255, 255, 255, 0.98);
	width: 100%;
	box-shadow: 0 0px 3px 0px #999;
}
.sticky-header .logo img {
	width: 100%;
	height: 40px;
}
.sticky-header .logo {
	line-height: 55px;
	transition: all 0.5s;
}
.sticky-header .nav > li > a {
	padding: 19px 0 22px;
	transition: all 0.5s;
}
.sticky-header .nav > li.active > a:after {
	display:none;
}
.sticky-header .nav li.drop-menu ul, .sticky-header .nav .level0-wrapper, .sticky-header .nav.classic ul.level0 {


	top: 60px;
}
.sticky-header .top-cart-content {
	top: 55px;
}
.sticky-header .top-cart-contain {
	margin-top: 5px;
	transition: all 0.5s;
}
.sticky-header .mini-cart .basket a {
	padding: 12px 0 24px;
}
.sticky-header .nav > li.active > a:after {
	bottom: 12px;
}
.sticky-header .top-search {
	margin-top: 20px;
	transition: all 0.5s;
}
.sticky-header .top-search a {
	background: inherit;
}
/*----- 5. Features Box ----------- */
.promo-section {
	overflow: hidden;
	width: 100%;
	margin-top:45px
}
.promo-section img{ width:100%}

.col {
	float: left;
	padding: 40px 0px;
}
.cms-index-index .our-features-box {
	margin-bottom:45px

}
.freeshpping-item span {
	font-size: 80px;
	left: 0;
	margin-top: -18px;
	position: absolute;
	top: 50%;
	font-style: normal
}
.icon-globe-alt:before {
	content: "\e036";
	font-family: 'Simple-Line-Icons';
	font-size: 20px;
	font-style: normal;
	color: #fff
}
.icon-support:before {
	content: "\e056";
	font-family: 'Simple-Line-Icons';
	font-size: 20px;
	font-style: normal;
	color: #dda34a;
}
.icon-share-alt:before {
	content: "\e05a";
	font-family: 'Simple-Line-Icons';
	font-size: 20px;
	font-style: normal;
	color: #fff;
}
.our-features-box {
	overflow: hidden;
	padding: 0px;
	width: 100%;
	margin: auto;
}
.our-features-box ul {
	list-style: none;
	margin: auto;
	padding: 0;
	border: none;
	overflow: hidden
}
.our-features-box .seprator-line {
	width: 2%!important;
	text-align: center;
	border-left: 1px #403f3a solid;
	height: 80px;
	margin-left: 2%;
	display:none
}
.our-features-box li {
	float: left;
	margin-bottom: 0px;
	text-align: center;
	width: 33.3%;
	padding: 0;
	display: inline-block;
}
.our-features-box .feature-box {
	overflow: hidden;
	font-size: 13px;
	text-align: center;
	color: #fff;
	line-height: 1.4em;
	font-weight: normal;
	text-transform: uppercase;
	padding: 25px 0px;

}
.our-features-box .feature-box h3 {
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 2px;
	color: #fff;
	margin:0px
}
.our-features-box .feature-box .content {
	display: inline-block;
	text-align: center;
	text-transform: none;
	color: #fff;

}
.our-features-box .feature-box .content p {
	margin: 0px
}
.our-features-box .feature-box span {
	font-size: 13px;
	display: inline-block;
	font-weight: 400;
	text-transform: none;
	color: #ccc;
	font-style: italic;
	width: 10%;
	vertical-align:middle

}
#qqq{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    height:128px;
}
/*弹出*/
.footer_flex    {list-style:none;}
.footer_flex li:hover span { display: block; }
.footer_flex li span { display: none; color: #fff; font-size: 13px; line-height: 45px; }
.footer_flex { width: 100%; margin: 0;padding: 0 }
.footer_flex li { width: 130px; height: 45px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin:0; float: left; text-align: center; cursor: pointer; position: relative; }

/*button*/
.footer_flex li:hover .flex-footera { display: block; }
.footer_flex li .flex-footera { width: 108px; height: 124px;  left: 0px; top: 0px; text-align: center;  display: none; }

.xxzlevel-top{
    width:33px;
    height:17px;
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(34,34,34,1);
    line-height:4px;
}
#mobile-menu{
    width:100%
}
.fa-plus:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background:url("../images/up.png");
    background-size:cover;
}
.fa-minus:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background:url("../images/down.png");
    background-size:cover;
}
.breadcrumb > li + li:before {
    content: "/ ";
    padding: 0 5px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    /*color:rgba(7,33,58,1);*/

}
.breadcrumb{
    padding-top: 28px;
    margin-left:17%;
}
