
.indexVC{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #ffffff;
    background:url("../images/homebj.jpg");
    background-repeat:no-repeat ;
    background-size:100% 100%;
    background-attachment: fixed;
}
#main{
    margin-top: 40px;
    opacity:0.8

}
.nav .level0-wrapper, .nav.classic ul.level0 {
    position: flex;
    top: 89px;
    /*margin-top: 128px;*/
}
.level0-wrapper-detail{
    color: #000;
}
header {height:40px}

.logo {
    position: absolute;
    left: 50%;
    margin:25px 0 0 -90px;
	z-index:100

}
.header-top {
	padding: 0px 0px 0px 0px;


}

.header-container {height:40px;background: #0C242D;position: relative;
    z-index: 10;}

.header-top .container {width:100%; padding:0px}

header .header-top-links {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 65px
}

nav {
	width: 100%;
	height: 128px;
}

.inner-page nav {background:url('../images/slide-img1.jpg') repeat top left ;
	height: 170px;
}

.menu-item {
    display: block;
    float: left;
    width: 100%;
}

.menu-item-left {
    padding-right: 20px;
    text-align: center;
    margin-left: 0;
    margin-top: 41px;
    width: 100%;
}

.menu-item-left li {
    /*margin-right: 50px;*/
}

.menu-item-right {
    padding-left: 10px;
	text-align: right;
}

.menu-item-right li {
    margin-left: 50px;
}

.nav-home p {
	float: left;
}
.nav-inner {
	position: relative;
}
.nav > li > a.active:nth-child(1) {
	color: #fff;
	background: #0C242D;
	border-radius: 3px 3px 0px 0px;
	margin-right: 0px
}
.nav > li > a:hover.active:nth-child(1) {
	color: #fff;
}
.nav > li > a:first-child {
	margin-left: 0px;
}
.nav > li > a:last-child a {
	color: #333
}

.cms-index-index .nav .nav-home > a, .nav > li.active > a, .vertnav-top li.current > a {
	color: #fff;
}
.nav > li.active > a, .vertnav-top li.current > a:hover {
	color: #fff;

}
/*导航字属性*/
.index .nav > li > a {
    color:#fff;
    -webkit-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
    margin-top: 20px;
}
/*导航字属性*/
.index .nav-detail > li > a {
    color:#000;
    -webkit-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
    margin-top: 20px;
}

.index .nav,.nav-detail > li > a:after {
    /*height: 2px;*/
    /*font-size: 0;*/
    /*line-height: 0;*/
    /*background:rgba(7,33,58,1);*/
    /*position: absolute;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*right: 0;*/
    /*top: 100%;*/
    /*content: " ";*/
    /*opacity: 0;*/

}
.index .nav,.nav-detail > li > a:hover:after {
    opacity: 1;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);

}

.nav > li.active > a:after {
	height:0;
    font-size: 0;
    line-height: 0;
    background: #0C242D;
    position: absolute;
    left: 0;
    width: 100%;
    right: 0;
    top: 100%;
    content: " ";
    opacity: 1;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
   -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
	    margin-top: 2px;
}




.nav {
	position: relative;
	z-index: 10;
	-webkit-transform: translateZ(0);
}
/* All levels */
.nav li {
	text-align: center;
}
.nav li a {
	display: block;
	text-decoration: none;
}
/* 1st level only */
.nav > li {
	list-style: none;
	border-bottom: none;
	display: inline-block;
}
.nav > li.last {
	padding-right: 0;
}
.nav > li > a > span {
	display: inline-block;
	padding:0px;
    font-size: 14px;
}
li.active > a {
	position: relative;
}
.nav > li > a:hover > span {
}
/* Drop-down boxes:
wide:    2nd-level category drop-down box + custom block drop-down box
classic: custom block drop-down box */
.nav .level0-wrapper {
	position: absolute;
	left: -10000px;
	background-color: #fff;
}
/* Inner wrapper for additional padding */
.nav .level0-wrapper2 {
	padding: 0;
}
.nav .level0-wrapper2:before, .nav .level0-wrapper2:after {
	display: table;
	line-height: 0;
	content: "";
}
.nav .level0-wrapper2:after {
	clear: both;
}
/* Home link*/

.nav a.level-top.feature {
	margin: 0;
}
/* Icon inside item */
.nav li a.level-top .icon {
	padding: 3px;
	margin: 0;
	float: none;
	display: inline-block;
	vertical-align: middle;
	background-color: transparent !important;
}
.nav li:hover a.level-top .icon {
	padding: 3px;
}

/* 1st level */
li.level0 > a > span {
	position: relative;
}
li.level0 > a > span > .cat-label {
	position: absolute;
	top: -12px;
	right: 0;
	padding: 0 6px;
	font-size: 14px;
	line-height: 22px;
}
/* Add pin (only 1st level) */
li.level0 > a > span > .pin-bottom:before {
	position: absolute;
	right: 6px;
	top: 22px;
	width: 0;
	height: 0;
	content: "";
	border-style: solid;
	border-width: 4px;
	border-color: transparent;
	transition: border-color 450ms ease-in-out;
	-moz-transition: border-color 450ms ease-in-out;
	-webkit-transition: border-color 450ms ease-in-out;
	-o-transition: border-color 450ms ease-in-out;
}
li.level0 > a:hover > span > .pin-bottom:before {
	transition-duration: 100ms;
	-moz-transition-duration: 100ms;
	-webkit-transition-duration: 100ms;
	-o-transition-duration: 100ms;
}
/* 2nd level */
li.level1 > a > span > .cat-label {
	display: inline-block !important;
	padding: 0 4px;
	margin-left: 2px;
	vertical-align: middle;
}
/* 3rd level */
li.level2 > a > span > .cat-label {
	display: inline-block !important;
	padding: 0 4px;
	margin-left: 2px;
}
/* Category labels inside mobile menu / vertical menu */
ul.vertnav li > a > span > .cat-label {
	position: static;
	display: inline-block !important;
	padding: 0 4px;
	margin-left: 2px;
}
/* Hide pin */
ul.vertnav li > a > span > .pin-bottom:before {
	display: none;
}
/* Label size: all levels */
ul.vertnav li > a > span > .cat-label {
	font-size: inherit;
	line-height: inherit;
}
ul.vertnav-top li > a > span > .cat-label {
	font-size: 14px;
	line-height: 18px;
}
/* Category blocks */
.nav-block {
	margin-top: 0;
	margin-bottom: 1%;
}
.nav-block-top {
}
.nav-block-bottom {
	float: left
}
.nav-block-center {
	margin-top: 0px;
}
.nav-block-right {
	margin-top: 0px;
	float: right;
	padding: 0px;
	text-align: center;
}
.nav-block-level1-top {
	margin-bottom: 10px;
}
.nav-block-level1-bottom {
	margin-top: 10px;
}
.nav-block .section-line {
	border-color: #eee;
}
/* horizontal + mobile menu trigger */
/*导航字体大小*/
.nav > li > a {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
	color: #000;
	letter-spacing: 2px
}
ul.level0 {
	padding: 0
}
ul.level1 {
	padding: 0px;
}
.nav .level0-wrapper, .nav.classic ul {
	background-color: #ffffff;
	color: #333333;
}
.nav ul li a:hover {
	color: #0C242D;
}
.cat-label-label1 {
	background-color: #D12631;
	color: #ffffff;
}
.cat-label-label2 {
	background-color: #d52462;
	color: #ffffff;
}
/*下拉框属性*/
.nav .level0-wrapper, .nav.classic .parent > ul {
	/*background: #fff;*/
	/*border-top: none;*/
	/*box-shadow: 0 10px 20px -5px;*/
	/*width: auto;*/
	/*padding: 40px 0px 0px 0px;*/
	/*text-align: left;*/
	/*z-index:100*/
}
.menu-item-right .level0-wrapper{ margin-left:-615px}







.nav > li > a {
	/*color: #fff;*/
	/*padding:15px 0px*/

    width:100%;
    height:17px;
    font-size:calc(16/1920*100%);
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:calc(4/1920*100%);
}
.nav > li.mega-menu {
	position: static;
    height:100%;
}
.nav-inner .nav li.mega-menu .level0-wrapper {
	border: 0 none;
	padding: 15px 0px;
	z-index: 10000;
	border-bottom: 6px #0C242D solid;
	transform: scale(0) rotate(0deg);
	transition: all 0.4s ease-in-out 0s;
	opacity: 0;
	visibility: hidden;
	display: block!important;
	margin-left: -210px;
	padding-top: 20px
}
.nav-inner .nav li.mega-menu:hover .level0-wrapper {
	opacity: 1;
	visibility: visible;
	transition: all 0.4s ease-in-out 0s;
	-webkit-transform: scale(1.0) rotate(0deg);
	transform: scale(1.0) rotate(0deg);
}
.nav .level0-wrapper2 .col-1 {
	float: left;
	width: 68.5%;
}
.nav .level0-wrapper2 .col-2 {
	padding: 0;
	float: left;
	width: 30%;
}
.nav .level0-wrapper2 .col-3 {
	padding: 5px 0;
	float: left;
	width: 20%;
}
.nav .col-1 ul.level0 > li {
	width: 30%;
}

/* 1st level only */
.nav > li:hover > a {
	position: relative;
	z-index: 1;
	background:none
}

.nav>li>a:hover, .nav>li>a:focus {background:none}

.nav > li:hover > a.level-top:after {
	height: 4px;
    font-size: 0;
    line-height: 0;
    background:rgba(7,33,58,1);
    position: absolute;
    left: 14px;
    width: 30px;
    right: 0;
    top: 32px;
    content: " ";
    opacity: 1;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
   -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
}
.nav > li:hover > a.xxzlevel-top1:after {
    height: 4px;
    font-size: 0;
    line-height: 0;
    background:#fff;
    position: absolute;
    left: 30px;
    width: 30px;
    right: 0;
    top: 32px;
    content: " ";
    opacity: 1;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
}
.nav > li:hover > a.xxzlevel-top2:after {
    height: 4px;
    font-size: 0;
    line-height: 0;
    background:#fff;
    position: absolute;
    left: 14px;
    width: 30px;
    right: 0;
    top: 32px;
    content: " ";
    opacity: 1;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
}
/* 2nd level only */
.nav ul.level0 > li {
	display: inline-block;
	float: none;
	margin-right: 15px;
	padding-top: 0;
	vertical-align: top;
	width: 15%;
	padding-left: 25px;
	margin-bottom: 20px;
	margin-left:0px
}
.nav ul.level0 > li.last {
	display: inline-block;
	float: none;
	vertical-align: top;
	padding-top: 0;
	padding-bottom: 15px;
	margin-right: 0px
}
.nav ul.level0 > li > a {
	color: #0C242D;
	font-size: 16px;
	font-weight: normal;
	line-height: 18px;
	padding: 5px 0px 6px;
	text-transform: uppercase;
	letter-spacing: 1px;
     text-align: left;
}
/* 2nd level+ */
.nav ul li {
	list-style: none;
	padding: 4px 0;
}
.nav li ul li ul li { margin-left:0px
    ;text-align: left;
}
.nav li ul li ul li:last-child {
	border: none
}
/* 3rd level only */
.nav ul.level1 {
	position: static;
}
.nav ul.level1 > li a {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	font-size: 13px;
	letter-spacing: normal;
}
.nav ul.level1 > li a:hover {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	color: #fff
}
/* 4th level */
.nav ul.level2 {
	margin: 7px 0;
	padding: 0;
	position: static;
}
.nav ul.level2 a {
	font-size: 0.9166em;
	line-height: 1.2727em;
	opacity: 0.6;
}
.nav li.level2:hover ul.level2 a {
	opacity: 1;
	transition: opacity 150ms ease-out;
	-moz-transition: opacity 150ms ease-out;
	-webkit-transition: opacity 150ms ease-out;
	-o-transition: opacity 150ms ease-out;
}
/* 4rd level+ */
.nav ul ul ul li {
	background: none;
	padding-left: 0;
}

.nav .level0-wrapper .nav-add {
	padding: 20px;
	background: #f8f8f8;
	overflow: hidden
}
.nav .level0-wrapper .nav-add .push_item {
	float: left;
	margin-right: 18px;
	width: 24%;
}
.nav .level0-wrapper .nav-add .push_item img {
	width: 98%;
}
.nav .level0-wrapper .nav-add .push_item_last {
	float: left;
	margin-right: 0px;
	width: 23%;
}
.nav .level0-wrapper .nav-add .push_item .push_img a {
	display: block;
	width: 275px;
}
.nav .level0-wrapper .nav-add .push_item .push_text {
	color: #666;
	font-size: 12px;
	padding: 8px 0;
}

.nav .nav-custom-link .header-nav-dropdown-wrapper h4.heading {
	color: #000;
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 10px;
}
.nav .nav-custom-link .header-nav-dropdown-wrapper h4.heading {
	color: #000;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
	letter-spacing: 0.5px;
}
.nav li.drop-menu ul {
	position: absolute;
	top: 45px;
	left: 0;
	background: #22211D;
	padding: 6px 0;
	border-top: none;
	box-shadow: 0 10px 20px -5px;
	width: 180px;
	text-align: left;
	z-index: 1000;
}
.nav > li.drop-menu ul li ul {
	border-top: none;
}
.nav > li.drop-menu {
	position: relative;
}
.nav > li.drop-menu a {
}
.nav li.drop-menu ul li {
	position: relative;
	margin-right:0px;

}
.nav li.drop-menu ul li a {
	color: #0C242D;
	line-height: 30px;
	font-size: 13px;
	padding: 0 12px;
	display: block;
	transition: all 200ms ease-in-out;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;

}
.nav li.drop-menu ul li:hover > a {
	color: #fff;
	padding-left: 18px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.nav li.drop-menu ul li span.plus {
	display: block;
	position: absolute;
	right: 7px;
	top: 50%;
	margin-top: -1px;
	height: 1px;
	width: 7px;
	background: #535353;
}
.nav li.drop-menu ul {
	display: none;
}

.col {
	float: left;
	padding: 40px 0px;
}

#qqq{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    height:128px;
}
/*弹出*/
.footer_flex    {list-style:none;}
.footer_flex li:hover span { display: block; }
.footer_flex li span { display: none; color: #fff; font-size: 13px; line-height: 45px; }
.footer_flex { width: 100%; margin: 0;padding: 0 }
.footer_flex li { width: 130px; height: 45px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin:0; float: left; text-align: center; cursor: pointer; position: relative; }

/*button*/
.footer_flex li:hover .flex-footera { display: block; }
.footer_flex li .flex-footera { width: 108px; height: 124px;  left: 0px; top: 0px; text-align: center;  display: none; }

.xxzlevel-top{
    width:33px;
    height:17px;
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(34,34,34,1);
    line-height:4px;
}
#mobile-menu{
    width:100%
}
.fa-plus:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background:url("../images/up.png");
    background-size:cover;
}
.fa-minus:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background:url("../images/down.png");
    background-size:cover;
}
.breadcrumb > li + li:before {
    content: "/ ";
    padding: 0 5px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    /*color:rgba(7,33,58,1);*/

}
.breadcrumb{
    padding-top: 28px;
    margin-left:17%;
}
h1 {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.box {
    background-color: transparent;
    padding-top: 40px;
    margin-left:18%;
    opacity: 0.8;
    margin-bottom: 40px;
    width: 81%;

}
.f-nav {
    height: 40px;
    overflow: hidden;
    transition: all 1s;
    display: block;
    position: relative;
    padding: 0;
    background:rgba(245,245,245,1);
}
.f-nav li {
    padding: 0;
    margin: 0;
    float: left;
    height: 40px;
    line-height: 40px;
    position: relative;
    z-index: 100;
    display: inline-block;
    list-style-type: none;
    width: 100px;
    text-align: center;
    cursor: pointer;


    font-size:14px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
}
.sideline {
    position: absolute;
    background:rgba(9,36,57,1);
    left: 0;
    top: 0;
    min-height: 30px;
    z-index: 1;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    list-style-type: none;
    width: 100px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.f-nav li.active {
    font-size:16px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:red
}
.f-nav li.fontNav {
    background:rgba(9,36,57,1);
    color: #fff;
    animation: fontNav .8s;
}
.f-nav li.downNav {
    background:rgba(9,36,57,1);
    color: #fff;
    animation: downNav .8s;
}
.f-nav li.leftNav {
    background:rgba(9,36,57,1);
    color: #fff;
    animation: leftNav .8s;
}
.f-nav li.rightNav {
    background:rgba(9,36,57,1);
    color: #fff;
    animation: rightNav .8s;
}
